.navItems{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navItems li{
  padding-right:15px;
  list-style: none;
  display: flex;
}
.navItems li a {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-button{
  display: flex;
  justify-content: space-around;
}
.button{
  padding: 15px;
  font-size: 20px;
  border-radius: 32px;

}

.dark{
  background-color: black;
  color: lightskyblue;
}